<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Precio: ${{this.price}}</p>
    <p class="card-text">Cantidad: {{this.quantity}}</p>
  </div>
</div>
