

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body>
  <h1>Bienvenido, {{user.username}}!</h1>
  <a href="/auth/logout">Logout</a>

  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">Precio: ${{this.price}}</p>
    </div>
  </div>
  
</body>
</html>